<%- include('osapohjat/header'); %>
        <table>
            <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        merkki ja malli
                    </th>
                    <th>
                        vuosimalli
                    </th>
                    <th>
                        omistaja
                    </th>
                </tr>
            </thead>
            <tbody id="kohde">

            </tbody>
        </table>
<%- include('osapohjat/footer'); %>