<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nimi %> - <%= otsikko %></title>
    <script src="./js/<%= skripti %>" defer></script>
</head>
<body>
    <header>
        <h1><%= otsikko %></h1>
        <div>
            <form action="/haku">
                <input name="hakusana">
                <button type="submit">
                    Haku
                </button>
            </form>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Autolista
                    </a>
                </li>
                <li>
                    <a href="/ksks">
                        Lisää auto
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>